body{
    line-height: 2.5em;
    font-size: 1.2em;
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Poppins';
    margin: 0;
}

h1{
    font-size: 4em;
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
}

div{
    margin-top: 30px;
    text-align: center;
}

a{
    text-decoration: none;
}

.example_a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 2px  60px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_a:hover {
    background: #434343;
    color: white;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}